.caja{
    width: 200px;
    height: 150px;
    
    background-color: darkturquoise;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-family: Arial;
    
}


#Caja1{
    position:relative;
}
#Caja2{
    position: relative;
}
#Caja3{
    position: absolute;
    top: 80px; left: 250px;

}
#Caja4{
    position: fixed;
    top:280px; left: 250px;

}
#Caja5{
    position: sticky;
    inset: 50px 100px 50px 100px;
    left: 240px;
}
#Caja6{
    position: relative;
}
    

    

