
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  h1{
    color: red;
    background-color: black;
  }
.Contenedor{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 60% 30%;
   border: solid 5px white;
    width:100vw ;
    height: 100vh;
    grid-template-areas: "Barrasup Barrasup" "Barralat Contenido" "BarraInf BarraInf";
    color:white;
}

.Caja{
    background-color: rgb(255, 255, 255);
    border: solid 5px white;
}

#Canciones{
   grid-area: BarraInf;
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: stretch;
    background-color: rgb(255, 255, 255);
}
.Cancion{
    width: 200px;
    overflow: hidden;
    border: 5px solid white;
}
#Boleto{
    background-color: aliceblue;
    font-size: 1.4em;
    font-family: fantasy;
    width: 270px;
    height:70px ;
    border: 5px solid black;
    
}
#Boleto:hover{
    background-color:black ;
    color :white;
    border: solid black ;
}
#Boleto:active{
    font-size: 1.2em;
}
#Encabezado{
    grid-area: Barrasup;
    text-align: center;
    font-family: fantasy;
    font-size: 1.4em;
}
#Caja2{
    grid-area: Barralat;
    
}
#Redes{
    grid-area: Contenido;
   
   
}
.Fechas{
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin-bottom: 50px;
}
.Lista{
    color:black;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    margin-bottom: 15px;
}

