* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .contenedor {
    background-color: rgb(240, 213, 174);
    display: flex;
    flex-direction: row;
    justify-content:center ;
  }
  .Caja {
    background-color: rgb(46, 50, 246);
    border: 2px solid rgb(0, 0, 0);
  }
#Caja1{ flex-grow : 25;}
#Caja4{ flex-grow : 25;}