* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    background-color: black;
  }
.Contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 80%;
   border: solid 5px white;
    width:100vw ;
    height: 100vh;
    grid-template-areas: "Barrasup Barrasup" "Barralat Contenido";
    color: white;
}
.Caja{
    background-color: brown;
    
    border: solid 5px blue;
}
#Caja1{
    grid-area: Barrasup;
    text-align: center;
    font-family: fantasy;
    font-size: 1.4em;
    

}
#Caja2{
    grid-area: Barralat;
}
#Caja3{
    grid-area: Contenido;
}